/* styles.css */
:root {
    --background-color: white;
    --text-color: black;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark-theme {
    --background-color: black;
    --text-color: white;
}

#theme-toggle {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
